<app-layout>
  <app-header></app-header>
  <main>
    <app-fetch-dog-pics>
      <app-fetch-dog-pics-form></app-fetch-dog-pics-form>
      <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <app-dog-pics-container>
        <app-dog-pic
          *ngFor="let dogImage of dogImages"
          [image]="dogImage"
          [breed]="breed"
        ></app-dog-pic>
      </app-dog-pics-container>
    </app-fetch-dog-pics>
  </main>
  <app-footer></app-footer>
</app-layout>
