/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
}

.center-x {
    justify-content: center;
}

.center-y {
    align-items: center;
}

.main-container {
    flex-wrap: wrap;
    min-height: 90vh;
    margin: 1rem;
    margin-top: 2rem;
}